body {
    font: 400 15px Noto Sans, sans-serif;
}
.navbar-inverse .navbar-nav>.active>a, 
.navbar-inverse .navbar-nav>.active>a:focus, 
.navbar-inverse .navbar-nav>.active>a:hover {
    background-color: transparent;
    color: #F4DECB;
    font-weight: bold;
}
.bg-1 { 
    background-color: #94618E;
    color: #ffffff;
}
.bg-2 { 
    background-color: #F4DECB;
    color: #49274A;
}
.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
    padding-left: 100px;
    padding-right: 100px;
}
.bg-3 { 
    background-color: #F8EEE7;
    color: #49274A;
    padding-top: 20px;
    padding-bottom: 10px;
}
.navbar {
    background-color: #49274A;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
    opacity: .85;
}
.project {
    cursor: pointer;
}
#me{
    padding-top: 150px;
}
.navbar-nav li a:hover {
    color: #F4DECB !important;
}
#about-list{
    display: inline-block;
    text-align: left;
    width: 60%;
}
.modal-header {
    background-color: #49274A;
    color: white;
}
.modal-content{
    color: black;
    text-align: left;
}
.btn {
    padding-left: 20px;
    padding-right: 20px;
    background-color: #94618E;
    color: white;
    font-size: 16px;
}
a:link, a:visited { 
    color: white;
    text-decoration: none;
    cursor: auto;
}
a:hover { 
    color: #49274A;
}